//============================================= Imports ==================================================
@import '_utilities';
/*========================================================================================================*/
/*========================================== Read More Button ============================================*/
/*========================================================================================================*/
// button mixin
@mixin button($font-color-active: color(background), $border-color: color(background), $background-active: transparent){
  border: solid $border-color 3px;
  color: color(main);
  font-family: 'Crete Round', serif;
  font-size: 1.5em;
  font-weight: bold;
  margin: vertical-padding(medium) auto 0;
  padding: 10px 30px;
  position: relative;
  text-transform: uppercase;
  &:hover{
    color: color(font);
  }
  &:active{
    border: solid color(main) 3px;
    color: $font-color-active !important;
    text-shadow: none !important;
  }
  &::before{
    background: color(main);
    content: '';
    width: 100%;
    position: absolute;
    transition: all duration(fast);
    bottom: -1%;
    left: 0;
    height: 0;
    z-index: -1;
  }
  &:hover::before {
    height: 102%;
  }
  &:active::before {
    background: $background-active;
  }
}
/*========================================== Styling ============================================*/
.button-portfolio__link{
  display: block;
  max-width: 260px;
  text-align: center;
  @include button($font-color-active: color(font), $border-color: color(main));
}
/* ------------------- MOBILE SECTION ------------------- */
@media only screen and (max-width: #{$mobile}) {
  .button-header__link{
    display: none;
  }
  .button-portfolio__link {
    font-size: 1.2em;
    padding: 10px 15px;
  }
}
/* --------------- TABLET AND DESKTOP SECTION -------------- */
@media only screen and (min-width: #{$tablet-lower}) {
  .button-header__link{
    @include button;
  }
}







