//============================================= Imports ==================================================
@import '_utilities';
/*========================================================================================================*/
/*============================================== Footer ==================================================*/
/*========================================================================================================*/
.footer{
  padding: 40px 0;
  text-align: center;
  &__icons{
      padding: 12px 0;
  }
  .icon__img{
    margin: 0 1px;
    &:first-child{
      margin-left: 0;
    }
  }
  &__disclaimer{
    font-size: 12px;

  }
}
/* -------------------- DESKTOP SECTION ----------------- */
@include desktop{
  .footer{
    text-align: left;
  }
}