//============================================= Imports ==================================================
@import '_utilities';
/*========================================================================================================*/
/*============================================== Header ==================================================*/
/*========================================================================================================*/
.menu{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: $nav-bar-width;
  height: 100vh;
  background-color: black;
  color: white;
  text-align: center;
  z-index: 30;
  div{
    padding-top: 50px;
  }
  background-image: url("../../../dist/img/_raw/abstract-burn-burnt-604671.jpg");
  background-size: cover;
  background-position: right;
}
body{
  background-image: url("../../../dist/img/_raw/abstract-burn-burnt-604671.jpg");
  background-size: 50%;
  background-position: right;
  background-repeat: no-repeat;
}
.header{
  width: 100%;
  padding-left: $nav-bar-width;
}
.header__img{
  object-fit: cover;
  height: 700px;
}
.wrapper{
  //padding-left: 300px;
}