//============================================= Imports ==================================================
@import '_utilities';
/*========================================================================================================*/
/*============================================== Header ==================================================*/
/*========================================================================================================*/
.menu{
  background-color: black;
  text-align: center;
  z-index: 30;
  font-size: 20px;
}
.header__img-wrapper{
  position: relative;
}
.header__img{
  object-fit: cover;
  height: 800px;
}
.menu__link{
  color: $font-color;
}
.header__title{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  margin: 0 auto;
  font-size: 60px;

}
.menu__item, .header__title{
  font-family: 'Crete Round', serif;
}
/* ------------------- <767px   SECTION ------------------- */
@media only screen and (max-width: 767px) {

}
/* ------------------- >768px SECTION --------------------- */
@media only screen and (min-width: 768px) and (max-width: 1024px){
  .menu{
    display: flex;
    justify-content: space-between;
  }
}
/* ------------------- >1025px SECTION -------------------- */
@media only screen and (min-width: 1025px) {
  .menu{
    background-image: url("../../../dist/img/_raw/test-6.jpg");
    background-size: cover;
    background-position: bottom right;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: $nav-bar-width;
    overflow-x: auto;
  }
  .menu__logo{
    display: block;
    padding: 20px 60px;
  }
  .menu__link{
    display: block;
    padding: 20px 0;
  }
  .menu__item{
    border-top: solid 1px $menu-hover-color;
    &:nth-child(6){
      @debug "_header.scss assumes six divs with menu__item class";
      border-bottom: solid 1px $menu-hover-color;
    }
  }
  .menu__icons{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 20px;
  }
  .icons__text{
    padding: 20px 0;
  }
  .header{
    width: 100%;
    padding-left: $nav-bar-width;
  }
}