//============================================= Imports ==================================================
@import '_utilities';
/*========================================================================================================*/
/*================================================ HOME ==================================================*/
/*========================================================================================================*/

/*=============================================== ABOUT ==================================================*/
.about{
  &__title{
    @include section-title;
  }
  &__section{
    @include section-text;
  }
  &__description-wrapper{
    padding-right: side-padding(desktop);
  }
}
/* ------------------- MOBILE SECTION ------------------- */
@media only screen and (max-width: #{$mobile}) {
  .about{
    padding-top: vertical-padding(small);
  }
}
/* ------------------- TABLET SECTION ----------- */
@media only screen and (min-width: #{$tablet-lower}) and (max-width: #{$tablet-upper}){

}
/* --------------- TABLET AND DESKTOP SECTION -------------- */
@media only screen and (min-width: #{$tablet-lower}){
  .about{
    padding-top: vertical-padding(medium);
    &__description{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
/* ------------------- DESKTOP SECTION -------------------- */
@media only screen and (min-width: #{$desktop}) {
  .about{

  }
}
