//============================================= Imports ==================================================
@import '_utilities';
/*========================================================================================================*/
/*================================================ HOME ==================================================*/
/*========================================================================================================*/

/*=============================================== ABOUT ==================================================*/
.about{
  &__heading{
    @include section-heading;
  }
  &__section{
    @include section-text;
  }
  &__subheading{
    @include section-subheading;
  }
  &__tweets-wrapper{
    width: 100%;
  }
  &__skills-wrapper{
    width: 100%;
  }
  &__skills{
    padding-top: 20px;
  }
  &__scale{
    width: 70%;
    margin-left: 30%;
    display: flex;
    justify-content: space-between;
  }
  .scale__year{
    position: relative;
    &::after{
      content: '';
      position: absolute;
      right: 50%;
      bottom: -20px;
      width: 1px;
      height: 20px;
      background-color: white;
    }
    &:first-child::after{
      left: 0;
    }
    &:last-child:after{
      right: 0;
    }
  }
  .skill__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:not(:first-child){
      padding-top: 15px;
    }
  }
  .skill__bar{
      display: block;
      margin-right: 0;
      width: 70%;
      height: 30px;
      border: solid 1px white;
  }
}
/* ------------------- MOBILE SECTION ------------------- */
@media only screen and (max-width: #{$mobile}) {
  .about{
    padding-top: vertical-padding(small);
    &__img-wrapper{
      padding-top: vertical-padding(small);
      margin: 0 auto;
      max-width: 280px;
    }
  }
}
/* ------------------- TABLET SECTION ----------- */
@media only screen and (min-width: #{$tablet-lower}) and (max-width: #{$tablet-upper}){

}
/* --------------- TABLET AND DESKTOP SECTION -------------- */
@media only screen and (min-width: #{$tablet-lower}){
  .about{
    padding-top: vertical-padding(medium);
    &__description{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__description-wrapper{
      padding-right: side-padding(desktop);
    }
    &__more-info{
      display: flex;
      justify-content: space-between;
    }
  }
}
/* ------------------- DESKTOP SECTION -------------------- */
@media only screen and (min-width: #{$desktop}) {
  .about{

  }
}
