//============================================= Imports ==================================================
@import '_utilities';
/*========================================================================================================*/
/*============================================= PROJECTS =================================================*/
/*========================================================================================================*/

/*============================================ FRONT-END =================================================*/
.front-end{
  &__heading{
    @include section-heading;
  }
  &__carousel-wrapper{
    overflow: hidden;
  }
  &__carousel{
    position: relative;
    top: 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    transition: left duration(medium);
  }
  &__projects{
    position: relative;
  }
  &__arrow{
    @include gallery-arrow($border-color-desktop:color(font),$color-desktop:color(font));
  }
  &__description{
    @include section-text;
    p:not(:last-child){
      margin-bottom: 15px;
    }
    &--hide{
      display: none;
    }
    &--show{
      animation-name: fade;
      animation-duration: duration(v-fast);
    }
  }
  .description__title{
    @include small-subheading;
    margin: 15px 0;
  }
}
/* ------------------- MOBILE SECTION ------------------- */
@include mobile{
  .front-end{
    padding: vertical-padding(small) 0;
    &__carousel{
      left: 0;
      width: 400%;
    }
    &__arrow{
      bottom: 10px;
      &--left{
        left: 10px;
      }
      &--left-active:active{
        left: 5px;
      }
      &--right{
        right:10px;
      }
      &--right-active:active{
        right: 5px;
      }
    }

  }
}
/* --------------- TABLET AND DESKTOP SECTION -------------- */
@include tablet-and-desktop{
  .front-end{
    padding: vertical-padding(medium) 0;
    &__carousel-wrapper{
      clip-path: polygon(100% 0, 100% 35%, 75% 100%, 0 100%, 0 0);
    }
    &__carousel{
      grid-column-gap: 20px;
      left: 0;
      width: 250%;
    }
    &__arrow{
      bottom: 0;
      &--left{
        right:63px;
      }
      &--left-active:active{
        right: 68px;
      }
      &--right{
        right:0;
      }
      &--right-active:active{
        right: -5px;
      }
    }
  }
}
/*============================================ BACK-END =================================================*/
.back-end{
  background: color(background-light);
  &__heading{
    @include section-heading;
  }
  &__carousel-wrapper{
    position: relative;
    overflow: hidden;
  }
  &__carousel{
    position: relative;
    top: 0;
    left: 0;
    width: 400%;
    display: flex;
    justify-content: space-between;
    transition: left duration(medium);
  }
  &__arrow{
    @include gallery-arrow;
    bottom: 10px;
    &--left{
      left: 10px;
    }
    &--left-active:active{
      left: 5px;
    }
    &--right{
      right:10px;
    }
    &--right-active:active{
      right: 5px;
    }
  }
  &__description{
    @include section-text;
    color: color(background);
    p:not(:last-child){
      margin-bottom: 15px;
    }
    &--hide{
      display: none;
    }
    &--show{
      animation-name: fade;
      animation-duration: duration(v-fast);
    }
  }
  .description__title{
    @include small-subheading;
    margin: 15px 0;
  }
}
/* ------------------- MOBILE SECTION ------------------- */
@include mobile{
  .back-end{
    padding: vertical-padding(small) 0;
  }
}
/* --------------- TABLET AND DESKTOP SECTION -------------- */
@include tablet-and-desktop{
  .back-end{
    padding: vertical-padding(medium) 0;
    &__projects{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
      align-items: center;
    }
  }
}
/*============================================ MOBILE =================================================*/
.mobile{
  &__heading{
    @include section-heading;
  }
  &__description{
    @include section-text;
    p:not(:last-child){
      margin-bottom: 15px;
    }
    &--hide{
      display: none;
    }
    &--show{
      animation-name: fade;
      animation-duration: duration(v-fast);
    }
  }
  &__accordion{
    display: flex;
    justify-content: space-between;
  }
  &__img-wrapper{

  }
  .description__title{
    @include small-subheading;
    margin: 15px 0;
  }
}
/* ------------------- MOBILE SECTION ------------------- */
@include mobile{
  .mobile{
    padding: vertical-padding(small) 0;
  }
}
/* --------------- TABLET AND DESKTOP SECTION -------------- */
@include tablet-and-desktop{
  .mobile{
    padding: vertical-padding(medium) 0;

  }
}