//============================================= Imports ==================================================
@import '_utilities';
/*========================================================================================================*/
/*============================================= PROJECTS =================================================*/
/*========================================================================================================*/

/*============================================ FRONT-END =================================================*/
.front-end{
  &__heading{
    @include section-heading;
  }
  &__carousel-wrapper{
    overflow: hidden;
  }
  &__carousel{
    position: relative;
    top: 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    transition: left duration(medium);
  }
  &__projects{
    position: relative;
  }
  &__arrow{
    @include gallery-arrow($border-color-desktop:color(font),$color-desktop:color(font));
  }
  &__description{
    @include section-text;
    p:not(:last-child){
      margin-bottom: 15px;
    }
    &--hide{
      display: none;
    }
    &--show{
      animation-name: fade;
      animation-duration: duration(v-fast);
    }
  }
  .description__title{
    @include small-subheading;
    margin: 15px 0;
  }
}
/* ------------------- MOBILE SECTION ------------------- */
@include mobile{
  .front-end{
    padding: vertical-padding(small) 0;
    &__carousel{
      left: 0;
      width: 400%;
    }
    &__arrow{
      bottom: 10px;
      &--left{
        left: 10px;
      }
      &--left-active:active{
        left: 5px;
      }
      &--right{
        right:10px;
      }
      &--right-active:active{
        right: 5px;
      }
    }

  }
}
/* --------------- TABLET AND DESKTOP SECTION -------------- */
@include tablet-and-desktop{
  .front-end{
    padding: vertical-padding(medium) 0;
    &__carousel-wrapper{
      clip-path: polygon(100% 0, 100% 35%, 75% 100%, 0 100%, 0 0);
    }
    &__carousel{
      grid-column-gap: 20px;
      left: 0;
      width: 250%;
    }
    &__arrow{
      bottom: 0;
      &--left{
        right:63px;
      }
      &--left-active:active{
        right: 68px;
      }
      &--right{
        right:0;
      }
      &--right-active:active{
        right: -5px;
      }
    }
  }
}
/*============================================ BACK-END =================================================*/
.back-end{
  background: color(background-light);
  &__heading{
    @include section-heading;
  }
  &__carousel-wrapper{
    position: relative;
    overflow: hidden;
  }
  &__carousel{
    position: relative;
    top: 0;
    left: 0;
    width: 400%;
    display: flex;
    justify-content: space-between;
    transition: left duration(medium);
  }
  &__arrow{
    @include gallery-arrow;
    bottom: 10px;
    &--left{
      left: 10px;
    }
    &--left-active:active{
      left: 5px;
    }
    &--right{
      right:10px;
    }
    &--right-active:active{
      right: 5px;
    }
  }
  &__description{
    @include section-text;
    color: color(background);
    p:not(:last-child){
      margin-bottom: 15px;
    }
    &--hide{
      display: none;
    }
    &--show{
      animation-name: fade;
      animation-duration: duration(v-fast);
    }
  }
  .description__title{
    @include small-subheading;
    margin: 15px 0;
  }
}
/* ------------------- MOBILE SECTION ------------------- */
@include mobile{
  .back-end{
    padding: vertical-padding(small) 0;
  }
}
/* --------------- TABLET AND DESKTOP SECTION -------------- */
@include tablet-and-desktop{
  .back-end{
    padding: vertical-padding(medium) 0;
    &__projects{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
      align-items: center;
    }
  }
}
/*============================================ MOBILE =================================================*/
.mobile{
  &__heading{
    @include section-heading;
  }
  &__accordion{
    display: flex;
    justify-content: space-between;
  }
  &__img-wrapper{
    height: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all duration(fast);
    &:after{
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      width: 100%;
      background: rgba(60, 60, 60, 0.5);
      transition: all duration(medium);
    }
    &--selected:after{
        height: 0;
    }
    &--unselected:after{
        height: 100%;
    }
  }
  &__img{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: auto;
    transform: translate(-50%, -50%);
  }
  &__description{
    @include section-text;
    p:not(:last-child){
      margin-bottom: 15px;
    }
    &--hide{
      display: none;
    }
    &--show{
      animation-name: fade;
      animation-duration: duration(v-fast);
    }
  }
  .description__title{
    @include small-subheading;
    margin: 15px 0;
  }
}
/* ------------------- MOBILE SECTION ------------------- */
@include mobile{
  .mobile{
    padding: vertical-padding(small) 0;
    &__accordion{
      height: 320px;
    }
    &__img-wrapper--selected{
      width: 55%;
    }
    &__img-wrapper--unselected{
      width: 15%;
    }
  }
}
/* ------------ TABLET AND DESKTOP SECTION ------------ */
@include tablet-and-desktop{
  .mobile{
    padding: vertical-padding(medium) 0;
    &__img-wrapper--selected{
      width: 64%;
    }
    &__img-wrapper--unselected{
      width: 12%;
    }
  }
}
/* ------------------ TABLET SECTION ------------------ */
@include tablet{
  .mobile__accordion{
      height: 430px;
  }
}
/* ------------------ DESKTOP SECTION ------------------ */
@include desktop{
  .mobile__accordion{
      height: 500px;
  }
}
/*============================================ DATABASE =================================================*/
.database{
  background-color: color(background-light);
  &__heading{
    @include section-heading;
  }
  &__projects{
    position: relative;
    overflow: hidden;
  }
  &__grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &__img-wrapper{
    cursor: pointer;
  }
  &__description{
    @include section-text;
    background-color: color(background);
    position: absolute;
    top: -100%;
    left: 0;
    overflow-y: scroll;
    padding: 20px;
    width: 100%;
    height: 100%;
    transition: all duration(medium);
    z-index: 10;
    &--shown{
      top: 0;
    }
    p:not(:last-child){
      margin-bottom: 15px;
    }
    p:last-child{
      margin-bottom: 20px;
    }
  }
  .description__title{
    @include small-subheading;
    margin-bottom: 15px;
  }
  .description__close{
    position: absolute;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    user-select: none;
    padding: 15px;
    &:hover{
      color: darken(color(font),20%);
    }
  }
}
/* ------------------- MOBILE SECTION ------------------- */
@include mobile{
  .database{
    padding: vertical-padding(small) 0;
    .description__inner{
      margin-top: 25px;
    }
    .description__close{
      top: 0;
      right: 0;
      font-size: 1.9em;
    }
  }
}
/* ------------ TABLET AND DESKTOP SECTION ------------ */
@include tablet-and-desktop{
  .database{
    padding: vertical-padding(medium) 0;
    .description__inner{
      position: relative;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    &__grid{
      grid-gap: 20px;
    }
    .description__close{
      top: 10px;
      right: 10px;
      font-size: 2.3em;
    }
  }
}