//======================================================================================================
//============================================= Fonts ==================================================
//======================================================================================================
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Crete+Round");
//======================================================================================================
//=========================================== Variables ================================================
//======================================================================================================
$nav-bar-width: 250px;
$nav-bar-height: 100px;
$mobile: 767px;
$tablet-lower: 768px;
$tablet-upper: 1024px;
$desktop: 1025px;
$menu-font-medium: 20px;
$menu-font-small: 16px;
$colors: (
  background: black,
  background-light: #dddddd,
  font: white,
  main: #E31D3B,
  menu-item-accent: rgba(55, 55, 55, 0.5),
  menu-item-active: lighten(rgba(55, 55, 55, 0.5),15%)
);
$duration: (
  v-fast: 0.2s,
  fast: 0.3s,
  medium: 0.5s,
  slow: 0.7s,
  v-slow: 1s
);
$side-padding: (
  mobile: 20px,
  tablet: 30px,
  desktop: 25px
);
$vertical-padding: (
  large: 60px,
  medium: 30px,
  small: 20px
);
$div-font-size: (
  large: 1.5em,
  medium: 1.2em,
  small: 1.0em,
  v-small: 0.875em
);
$heading-font-size: (
  large: 2.7em,
  medium: 2.2em,
  small: 1.9em,
  v-small: 1.5em
);
//skill bars progress
$skill-progress: (100%,100%,83.333%,50%,33.333%,33.333%,66.667%,66.667%,33.333%);

//======================================================================================================
//============================================ Functions ===============================================
//======================================================================================================

//=============================================== General ===============================================
//function returns a color from $colors map using map-get
@function color($color-name){
  @return map-get($colors,$color-name)
}
//function returns a padding value from $side-padding map using map-get
@function side-padding($device-name){
  @return map-get($side-padding,$device-name)
}
//function returns a padding value from $vertical-padding map using map-get
@function vertical-padding($padding){
  @return map-get($vertical-padding,$padding)
}
//function returns a duration in seconds from $duration map using map-get
@function duration($duration-value){
  @return map-get($duration,$duration-value)
}
//function returns a font size from $div-font-size map using map-get
@function div-font-size($font-size){
  @return map-get($div-font-size,$font-size)
}
//function returns a font size from $heading-font-size map using map-get
@function heading-font-size($font-size){
  @return map-get($heading-font-size,$font-size)
}
//======================================================================================================
//=============================================== Mixins ===============================================
//======================================================================================================

//=============================================== General ===============================================
//mixin with media query for mobile
@mixin mobile{
  @media only screen and (max-width: #{$mobile}) {
    @content;
  }
}
//mixin with media query for tablet
@mixin tablet{
  @media only screen and (min-width: #{$tablet-lower}) and (max-width: #{$tablet-upper}){
    @content;
  }
}
//mixin with media query for tablet and desktop
@mixin tablet-and-desktop{
  @media only screen and (min-width: #{$tablet-lower}){
    @content;
  }
}
//mixin with media query for desktop
@mixin desktop{
  @media only screen and (min-width: #{$desktop}){
    @content;
  }
}
//mixin applied to inner class, applies left and right padding and max-width
@mixin inner{
  @include mobile{
    margin: 0 auto;
    padding: 0 side-padding(mobile);
  }
  @include tablet{
    margin: 0 auto;
    padding: 0 side-padding(tablet);
  }
  @include desktop{
    max-width: 1140px;
    margin: 0 auto 0 $nav-bar-width;
    padding: 0 side-padding(desktop);
  }
}
//mixing for section heading styling
@mixin section-heading{
  color: color(main);
  font-family: 'Crete Round', serif;
  padding-bottom: vertical-padding(small);
  @include mobile{
    font-size: heading-font-size(small);
    text-align: center;
  }
  @include tablet{
    font-size: heading-font-size(medium);
  }
  @include desktop{
    font-size: heading-font-size(large);
  }
}
//mixing for section subheading styling
@mixin section-subheading{
  color: color(main);
  font-family: 'Crete Round', serif;
  padding: vertical-padding(small) 0;
  font-size: heading-font-size(small);
  @include mobile{
    text-align: center;
  }
  @include desktop{
    font-size: heading-font-size(medium);
  }
}
//mixin for smaller subheading
@mixin small-subheading($font-color:color(main)){
  color: $font-color;
  font-family: 'Crete Round', serif;
  @include mobile{
    font-size: div-font-size(medium);
  }
  @include tablet-and-desktop{
    font-size: div-font-size(large);
  }
}
//mixin for standard text
@mixin section-text{
  line-height: 1.1em;
  @include mobile{
    font-size: div-font-size(small);
    text-align: center;
  }
  @include tablet-and-desktop{
    font-size: div-font-size(medium);
  }
}
//mixin for secondary button used for overlay and submit
@mixin secondary-button($width,$color:color(font),$color-border:color(font)){
  background-color: transparent;
  border: solid 2px $color-border;
  color: $color;
  cursor: pointer;
  display: block;
  font-family: 'Crete Round', serif;
  font-size: div-font-size(medium);
  font-weight: bold;
  margin: 0 auto;
  padding: 8px 0;
  width: $width;
  user-select: none;
  transition: all duration(medium);
  &:hover{
    background-color: color(main);
  }
  &:active{
    background-color: transparent;
    color: color(main);
  }
}

//=============================================== Header ===============================================
@mixin typing-animation{
  position: relative;
  &::after{
    content: '';
    position: absolute;
    right: -6px;
    bottom: 50%;
    transform: translateY(50%);
    height: 70%;
    background-color: color(main);
    @include mobile{
      width: 3px;
    }
    @include tablet{
      width: 4px;
    }
    @include desktop{
      width: 6px;
    }
  }
}
//======================================================================================================
//============================================== Home ==================================================
//======================================================================================================

//============================================= Spacer =================================================
@mixin spacer-text{
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: 1px 1px color(background);
  @include mobile{
    font-size: heading-font-size(small);
    padding: 0 side-padding(mobile);
  }
  @include tablet{
    font-size: heading-font-size(medium);
    padding: 0 side-padding(tablet);
  }
  @include desktop{
    top: 50%;
    font-size: heading-font-size(large);
    padding: 0 side-padding(desktop);
  }
}
//============================================== About =================================================
@mixin skill-scale-year{
  @debug "skill bar scale designed for 4 year labels";
  font-family: 'Crete Round', serif;
  position: relative;
  text-align: center;
  width: 33%;
  &::after{
    content: '';
    position: absolute;
    right: 50%;
    bottom: -20px;
    width: 1px;
    height: 20px;
    background-color: white;
  }
  &:first-child{
    text-align: left;
  }
  &:first-child::after{
    left: 0;
  }
  &:last-child{
    text-align: right;
  }
  &:last-child:after{
    right: 0;
  }
  &:first-child, &:last-child{
    width: 17%;
  }
  line-height: 1.1em;
  @include mobile{
    font-size: div-font-size(small);
    text-align: center;
  }
  @include tablet-and-desktop{
    font-size: div-font-size(medium);
    height: 25px;
  }
}
//============================================== Portfolio =================================================
//mixin for image overlay
@mixin image-overlay{
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 15px;
}
//==========================================================================================================
//============================================== Projects ==================================================
//==========================================================================================================
