//======================================================================================================
//============================================= Fonts ==================================================
//======================================================================================================
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Crete+Round");
//======================================================================================================
//=========================================== Variables ================================================
//======================================================================================================
$nav-bar-width: 250px;
$nav-bar-height: 100px;
$mobile: 767px;
$tablet-lower: 768px;
$tablet-upper: 1024px;
$desktop: 1025px;
$menu-font-medium: 20px;
$menu-font-small: 16px;
$colors: (
  background: black,
  font: white,
  main: #E31D3B,
  menu-item-accent: rgba(55, 55, 55, 0.5),
  menu-item-active: lighten(rgba(55, 55, 55, 0.5),15%)
);
$duration: (
  v-fast: 0.2s,
  fast: 0.3s,
  medium: 0.5s,
  slow: 0.7s,
  v-slow: 1s
);
$side-padding: (
  mobile: 20px,
  tablet: 30px,
  desktop: 25px
);
$vertical-padding: (
  large: 60px,
  medium: 30px,
  small: 20px
);
$div-font-size: (
  large: 1.5em,
  medium: 1.2em,
  small: 1.0em,
  v-small: 0.875em
);
$title-font-size: (
  large: 2.7em,
  medium: 2.2em,
  small: 1.9em,
  v-small: 1.5em
);
//======================================================================================================
//============================================ Functions ===============================================
//======================================================================================================

//=============================================== General ===============================================
//function returns a color from $colors map using map-get
@function color($color-name){
  @return map-get($colors,$color-name)
}
//function returns a padding value from $side-padding map using map-get
@function side-padding($device-name){
  @return map-get($side-padding,$device-name)
}
//function returns a padding value from $vertical-padding map using map-get
@function vertical-padding($padding){
  @return map-get($vertical-padding,$padding)
}
//function returns a duration in seconds from $duration map using map-get
@function duration($duration-value){
  @return map-get($duration,$duration-value)
}
//function returns a font size from $div-font-size map using map-get
@function div-font-size($font-size){
  @return map-get($div-font-size,$font-size)
}
//function returns a font size from $title-font-size map using map-get
@function title-font-size($font-size){
  @return map-get($title-font-size,$font-size)
}
//======================================================================================================
//=============================================== Mixins ===============================================
//======================================================================================================

//=============================================== General ===============================================
//mixin with media query for mobile
@mixin mobile{
  @media only screen and (max-width: #{$mobile}) {
    @content;
  }
}
//mixin with media query for tablet
@mixin tablet{
  @media only screen and (min-width: #{$tablet-lower}) and (max-width: #{$tablet-upper}){
    @content;
  }
}
//mixin with media query for tablet and desktop
@mixin tablet-and-desktop{
  @media only screen and (min-width: #{$tablet-lower}){
    @content;
  }
}
//mixin with media query for desktop
@mixin desktop{
  @media only screen and (min-width: #{$desktop}){
    @content;
  }
}
//mixin applied to inner class, applies left and right padding and max-width
@mixin inner{
  @include mobile{
    margin: 0 auto;
    padding: 0 side-padding(mobile);
  }
  @include tablet{
    margin: 0 auto;
    padding: 0 side-padding(tablet);
  }
  @include desktop{
    max-width: 1140px;
    margin: 0 auto 0 $nav-bar-width;
    padding-left: side-padding(desktop);
  }
}
//mixing for section heading styling
@mixin section-title{
  color: color(main);
  font-family: 'Crete Round', serif;
  @include mobile{
    font-size: title-font-size(v-small);
  }
  @include tablet{
    font-size: title-font-size(medium);
  }
  @include desktop{
    font-size: title-font-size(large);
  }
}
@mixin section-text{
  padding-top: vertical-padding(small);
  line-height: 1.1em;
  @include mobile{
    font-size: div-font-size(small);
  }
  @include tablet-and-desktop{
    font-size: div-font-size(medium);
  }
}
//=============================================== Header ===============================================
@mixin typing-animation{
  position: relative;
  &::after{
    content: '';
    position: absolute;
    right: -6px;
    bottom: 50%;
    transform: translateY(50%);
    height: 70%;
    background-color: color(main);
    @include mobile{
      width: 3px;
    }
    @include tablet{
      width: 4px;
    }
    @include desktop{
      width: 6px;
    }
  }
}
//=============================================== Home =================================================
