//============================================= Imports ==================================================
@import 'partials/_reset';
@import 'partials/_utilities';
/*========================================================================================================*/
/*========================================== General Styling =============================================*/
/*========================================================================================================*/
.inner{
  @include inner;
}
.img{
  &-responsive{
    width: 100%;
    height: auto;
    display: block;
  }
}
html{
  box-sizing: border-box;
}
*,*:before,*:after{
  box-sizing: inherit;
}
body{
  background-color: color(background);
  font-family: 'Roboto', sans-serif;
  color: color(font);
}
a{
  text-decoration: none;
}
@keyframes fade {
  from {opacity: 0.5}
  to {opacity: 1}
}
//============================================= Import Styling ==================================================
@import 'partials/_header';
@import 'partials/_footer';
@import 'partials/_home';
@import 'partials/_projects';










.test{
  margin-top: 300px;
  text-align: center;
}